.contact-edit {
    display: grid;
    justify-items: center;
    gap: 20px;
    padding: 10px;
    padding-top: 100px;
    position: relative;

    h2 {
        padding-bottom: 30px;
        color: $p-clr1;
    }

    input {
        border: 1px solid $p-clr1;
        padding: 5px 10px;
        border-radius: 10px;
        width: 250px;
        height: 40px;
    }

    button {
        margin-top: 30px;
    }

    .close-btn {
        position: absolute;
        right: 20px;
        color: $p-clr1;

        span {
            padding-top: 20px;
            font-size: 2rem;
        }
    }
}