.contact-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 10px;
    padding: 10px 0;
    list-style-type: none;
    color: $p-clr1;

    .actions {
        display: flex;
        justify-content: center;
        gap: 20px;

        span:hover {
            opacity: 0.8;
        }

        .preview-icon {
            cursor: pointer;
            font-size: 1.7rem;
        }
    }
}

.list-move,
/* apply transition to moving elements */
.list-enter-active,
.list-leave-active {
    transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
    opacity: 0;
    transform: translateX(30px);
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
.list-leave-active {
    position: absolute;
}