.home {
    background-image: url("/img/hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 90vh;

    &>* {
        display: flex;
        flex-direction: column;
        gap: 25px;
        
        >* {
            padding-top: 25px;
        }
    }

    .home-txt {
        display: flex;
        flex-direction: column;
        margin: 100px auto;
        text-align: center;
        align-items: center;
        width: 350px;
        gap: 40px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: #fff;
        font-size: 4rem;

        button {
            cursor: pointer;
            width: 100%;
            border-radius: 25px;
            padding: 20px 50px;
            font-size: 2rem;
            transition: .3s;
            color: #474646;
            background: linear-gradient(0.25turn, $p-clr1, #ebf8e1, #8e8e3d);

            &:hover {
                scale: 1.2;
            }
        }
    }
}