// Colors

//Primary

$p-clr1: #f7931a;
$p-clr2: #F67E7E;
$p-clr3: white;

//Secondary
$almost-white: #faf6f6;
$almost-black: #1b1b1b;
$bg-clr: #363333;

$mobile-padding: 15px;
$narrow-padding: 35px;
$normal-padding: 165px;

$layoutPadding: 20px;

$break-narrow: 560px;
$break-normal: 1020px;
$break-wide: 1400px;